/*General*/
    body{
        background: black;
        margin: 0;
        padding: 0;
    }

/*First Screen*/
    .first-screen-div{
        background-image: url(../assets/images/screens/first_screen.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh; /* Make div height equal to viewport height */
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

    .blurred-square{
        background: #ffffff6b;
        width: 50%;
        height: 50%;
        padding: 50px;
        text-align: center;
        border-radius: 20%;
        display: inline-grid;
    }

/*Second Screen*/


/*Third Screen*/


/*Media Queries*/